body{
	background-image: url(../img/header.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*nav bar styling*/
.navbar-default.affix .navbar-header .navbar-brand, .navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover{
	color: #660000;
}

.navbar-default.affix .nav > li > a:focus:hover, .navbar-default.affix .nav > li > a:hover{
	color: #660000;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover{
	color: #660000;
}

.navbar-default .navbar-header .navbar-brand{
	color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus{
	color: #660000;
}

.navbar-default .nav > li.active > a{
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-color: #660000;
	border-style: solid;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus{
	color: #660000 !important;
}

/*header styling*/
header .header-content .header-content-inner p{
	color: white;
}

.btn{
	border-radius: 6px;
	background-color: white;
	color: #660000;
	margin-left: 0px;
	margin-right: 0px;
}

.links{
	width: 120px;
}

#leftButton{
	margin-left: 51px;
}

#middleButton{
	margin-left: 11px;
}

#rightButton{
	margin-left: -29px;
}

.btn:hover{
	background-color: #f2f2f2;
	color: #660000;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .open > .dropdown-toggle.btn-primary{
	background-color: #660000 !important;
}

hr{
	border-color: #660000;
}

a, a:hover, a:focus{
	color: #660000;
}


/*sections background colors*/
#about{
	background-color: rgba(102,0,0,.9);
}

#events{
	background-color: white;
	color: #333333;
}

#join{
	background-color: rgba(117, 120, 123,.5);
	color: white;
}

#officers{
	background-color: rgba(102,0,0,.9);
}

#contact{
	background-color: white;
}

/*Events section styling*/
.heading{
	padding-top: 100px;
}

.poster{
	width: 400px;
	height: 600px;
}

/*officers pics styling*/
.pics{
	padding-top: 30px;
	padding-bottom: 50px;
}

.officer{
	width: 180px;
	height: 225px;
}

.portfolio-box .portfolio-box-caption{
	background: rgba(204, 204, 204,.7);
}

.bgimg-1, .bgimg-2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url(../img/header.png);
  min-height: 100%;
}

.bgimg-2 {
  background-image: url(../img/header1.jpg);
  min-height: 400px;
}