.canvasjs-chart-credit {
	display: none;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.late_packages{
	height: 38vh;
	width: 100%;
}
.exceptions{
	height: 35vh;
	width: 100%;
}
.map{
	height: 40vh;
	width: 100%;
}
.late_packages_main{
	height: 70vh;
	width: 100%;
}
.exceptions_main{
	height: 65vh;
	width: 100%;
}
.map_main{
	height: 85vh;
	width: 100%;
}
.progress{
	border-radius: 8px;
	height: 5vh;
}
.status{
	height: 2.4vh;
}
.circle{
	height:1.8vh;
	width: 1.8vh;
	border-radius: 50%;
	margin-top: 14px;
}
.smaller{
	font-size: 1.5vh;
	padding-right: 0px;
	padding-left: 2px;
}
.small{
	margin-top: 2px;
}
h1{
	font-size: 4.5vh;
}
h2{
	font-size: 3.5vh;
}
h3{
	font-size: 2.9vh;
}
h4{
	font-size: 2.2vh;
}
h5{

}
body{
	font-size: 1.6vh;
}
br {
	display: block;
  margin: 3vh;
}
